plugins {
    kotlin("jvm") version "2.1.20"
    application
}

group = "com.scythe"
version = "1.0-SNAPSHOT"

repositories {
    mavenCentral()
}

dependencies {
{%- if engine == "postgresql" %}
    implementation("org.postgresql:postgresql:42.7.4")
{%- elif engine == "mysql" or engine == "mariadb" %}
    implementation("com.mysql:mysql-connector-j:9.0.0")
{%- elif engine == "sqlite" %}
    implementation("org.xerial:sqlite-jdbc:3.45.1.0")
{%- elif engine == "oracle" %}
    implementation("com.oracle.database.jdbc:ojdbc11:23.4.0.24.05")
{%- elif engine == "mssql" %}
    implementation("com.microsoft.sqlserver:mssql-jdbc:12.4.1.jre11")
{%- elif engine == "snowflake" %}
    implementation("net.snowflake:snowflake-jdbc:3.16.1")
{%- endif %}
}

application {
    mainClass.set("IntegrationTestKt")
}

java {
    sourceCompatibility = JavaVersion.VERSION_21
    targetCompatibility = JavaVersion.VERSION_21
}

tasks.withType<org.jetbrains.kotlin.gradle.tasks.KotlinCompile> {
    compilerOptions {
        jvmTarget.set(org.jetbrains.kotlin.gradle.dsl.JvmTarget.JVM_21)
    }
}
