module scythe-integration/{{ backend_name }}

go 1.24.0

require (
{%- if driver == "pgx" %}
  github.com/jackc/pgx/v5 v5.10.0
  github.com/shopspring/decimal v1.4.0
{%- elif driver == "database-sql" and engine == "mysql" %}
  github.com/go-sql-driver/mysql v1.10.0
{%- elif driver == "database-sql" and engine == "sqlite" %}
  github.com/mattn/go-sqlite3 v1.14.48
{%- elif driver == "database-sql" and engine == "mssql" %}
  github.com/microsoft/go-mssqldb v1.10.0
{%- elif driver == "database-sql" and engine == "snowflake" %}
  github.com/snowflakedb/gosnowflake v1.19.1
{%- elif driver == "godror" %}
  github.com/godror/godror v0.51.0
{%- endif %}
)
